@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "./styles-small.css";

@import "./styles-normal.css";

@import "./styles-medium.css";

@import "./styles-large.css";

@import "./styles-xlarge.css";


/* COLOR CONTROL DE TODOS AS @media */
:root {
    --background: #689689;
    --collumns: white;
    --title: #689689;
    --text: black;
    --primary: #b2e6d4;
    --secondary: #83e8ba;
    --terciary: ;
    --hover: ;
}

/* PRÉ-DEFINIÇÕES DO HTML */
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: var(--background);
}

/* CLASS PARA ESPAÇAMENTO PADRÃO DE TEXTOS */
.alignRight {
    padding-left: 10px;
}

#downloadCV {
    cursor: pointer;
}

#downloadCV:hover {
    color: var(--text);
    border: 1px solid var(--text);
    background-color: var(--collumns);
    transition: 0.5s;
}